<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio - Ahmed K</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
</head>

<body>
    <main id="app">

        <div class="sectionMenu">
            <div class="menu">
                <div class="menuIcone"><img src="./assets/img/iconeMenu.png"></div>
                <a href="#intro" class="btnMenu presentationBtn">Présentation</a>
                <a href="#projets" class="btnMenu projetBtn">Projets</a>
                <a href="#competences" class="btnMenu competenceBtn">Compétences</a>
                <a href="#contact" class="btnMenu contactBtn">Contact</a>
                <button @click="toggleSombre" class="btn-darkmode"> <!--On click, j'appelle la méthode toggleSombre dans mon .js -->
                    🌜🌞
                </button>
            </div>

            <div class="sectionBanniereTop">

                <button @click="inverse" class="boutonKaomoji" :class="{ 'flip-horizontal': flipped }">ᕕ( ᐛ )ᕗ</button>

            </div>
            <div class="marquee">
                <p class="vitesse1 texteDefileRouge">ヽ(￣д￣;)ノ=3=3=3</p>
                <p class="vitesse2 texteDefileVert">└( `ー´ )┐=C =C =C =C</p>
                <p class="vitesse3 texteDefileBleu">└(・ω・;)┐=C =C =C =C =C</p>
            </div>



        </div>


        <div class="titreSection" id="intro">
            <h2>Qui suis-je</h2>
        </div>

        <div class="sectionIntro">
            <div class="blocIntro">
                <h2>Qui suis-je</h2>
                <p>Je m'appelle Ahmed K. Étant un grand passionné de jeux vidéo, il est normal que j'aime également en concevoir. La plupart des projets présents dans ce portfolio sont des jeux que j'ai eu la chance de développer en cours et chez moi ! Une autre chose que j'ai à cœur est de participer à des projets créatifs tels que les montages vidéo ou les designs divers et variés.</p>
                <p>Mon objectif est de trouver un stage dans un studio créatif et vivant où je pourrais grandir, idéalement en montage vidéo.</p>
            </div>

            <img src="./assets/img/moi.jpg" class="blocMaPhoto">
        </div>

        <div class="titreSection" id="projets">
            <h2>Mes projets</h2>
        </div>

        <div class="sectionProjets">
            <div class="swiper mySwiper fondH3Swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="projets in project" :key="projets.title">
                        <!--Simple boucle v-for qui va chercher les informations du tableau "projet" dans le script.js-->
                        <img class="card-img-top" :src="projets.images[0]">
                        <!--V-bind dans le contenant des images pour charger les images du projects.json-->
                        <h3>{{projets.title}}</h3>
                        <p>{{projets.category}}</p>
                    </div>
                </div>
            </div>

            <div class="blocMessageProjet">
                <h2>Mes projets</h2>
                <p>Chacun des projets présents ici a été réalisé dans un cadre académique ou d'apprentissage personnel. J'ai consacré un temps considérable à chacun d'entre eux et, à chaque fois, j'ai pu évoluer en tant que créateur de contenu.</p><br>
                <p>Une sélection de mes réalisations est présentée ci-dessous.</p>
            </div>
        </div>

<!--Le :key="index" est recommandé dans le but d'optimiser les performances de vue.js, sans cette dernière le projet fonctionne toujours, mais est plus susceptible de rencontrer des problèmes-->
        <div class="projets" v-for="projets in project" :key="index"> <!--Boucle qui parcours tout mes éléments de projets présents dans mon tableau, -->
            <div :class="projets.classTitre"> <!--v-bind de "classTitre" dans le .json, elle donne les classes css appropriées aux couleurs des titres, par exemple titreSectionBandit qui est vert, ect-->
                <h2>{{projets.title}}</h2>
            </div>

            <div class="miniGalerieProjets">
                <img v-for="(image, index) in projets.images" :key="index" class="galerieImg" :src="image"> <!--Boucle sur le tableau "image" dans le .json à partir de l'index comme position. L'image est défini dynamiquement la-->
            </div>

            <div class="blocMessage2">
                <p>{{projets.description}}</p>
                <div v-if="projets.lien" class="lienProjet"> <!--si lienProjet, on applique le style associé -->
                    <a :href="projets.lien" target="_blank">
                        Voir le projet →
                    </a>
                </div>
            </div>



            <div v-if="projets.processus" class="processusCreation"> <!--Si le projet contient un tableau processus, on applique le style "processusCreation"-->
                <h3>Processus de création</h3>

                <!--on applique la classe etapeProcessus, pour chacun -->
                <div class="etapeProcessus" v-for="(etape, index) in projets.processus" :key="index"> <!--Boucle qui parcours tout mes éléments de projets présents dans mon tableau, on applique le titre du processus en question présent dans le .json -->
                    <h4>{{etape.titre}}</h4>
                    <p>{{etape.texte}}</p>
                    <img :src="etape.image" class="imageProcessus"> <!--V-bind où l'image présent dans .json est appliqué à chaque parties du processus-->
                </div>
            </div>
        </div>


        <div class="titreSection">
            <h2>Mes compétences</h2>
        </div>

        <div class="sectionCompetences" id="competences">
            <div class="blocMessage">
                <h2>Mes compétences</h2>
                <p>Je maîtrise plusieurs outils et logiciels liés à la création visuelle et au développement web :
                </p>
                <br>
                <p>• HTML / CSS<br>
                    • DaVinci Resolve<br>
                    • Autodesk Maya 3D<br>
                    • Reaper<br>
                    • Adobe Photoshop<br>
                    • Figma</p>
            </div>
        </div>

        <div class="titreSection" id="contact">
            <h2>Me contacter</h2>
        </div>

        <div class="sectionContact">
            <div class="blocMessage">
                <h2>Contact</h2><br>
                <p>Ahmed Kaissoumi</p>
                <p>Courriel : <a href="mailto:Ahmedkaissoumi@gmail.com">Ahmedkaissoumi@gmail.com</a></p>
                <p>Je suis toujours ouvert à discuter de nouveaux projets ou collaborations. N'hésitez pas à me
                    contacter pour toute question ou opportunité !</p>
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js" defer></script>

</body>

</html>